<!DOCTYPE html>
<html>

<head>
	<title>New Movie</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	<h1>Aggiorna film</h1>
	<div th:if="${movie}">
		<div>
			<span th:text="${movie.title}">Up!</span>
			<span th:text="'(' + ${movie.year} + ')'">2000</span>
			<div th:each="image: ${movie.images}">
				<img th:src="@{'/image/' + ${image.id}}">
				<button>
					<a th:href="'/admin/deleteImage/' + ${movie.id} + '/' + ${image.id}">Rimuovi immagine</a>
				</button>
			</div>
		</div>
		<div th:if="${movie.director}">
			<span>Regista: </span><span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven
				Spielberg</span>
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Modifica regista</a></span>
		</div>
		<div th:unless="${movie.director}">
			<a th:href="@{'/admin/addDirector/' + ${movie.id}}">Aggiungi regista</a>
		</div>
		<form th:action="@{'/admin/updateMovieImages/' + ${movie.id}}" method="POST" th:object="${movie}" enctype="multipart/form-data">
			<div>
				<label>Aggiungi immagini:</label> <span><input type="file" name="movieImage" multiple /></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>

		<div>
			<span>Attori: </span>
			<div th:each="actor: ${movie.actors}">
				<span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span>
			</div>
			<a th:href="@{'/admin/updateActors/' + ${movie.id}}">
				<button type="button">Modifica</button>
			</a>
		</div>
	</div>
	<div th:unless="${movie}">Film non esistente</div>
</body>

</html>
