<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content"width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MovieTime - Admin</title>
	<link rel="stylesheet" href="/css/indexAdmin.css" />
</head>
<body>
	<header>
		<a href="/">
			<img src="/images/MovieTime.png" alt="Logo" width="180" class="logo">
		</a>
		<nav>
			<ul class="menu">
				<li><a href="/movie">Movies</a></li>
				<li><a href="/artist">Artists</a></li>
				<li>
					<a>Manage movies</a>
					<ul class="dropdown-menu">
						<li><a href="/admin/formNewMovie">Add a new movie</a></li>
						<li><a href="/admin/manageMovies">Update movies</a></li>
						<li><a href="/formSearchMovies">Find movie by year</a></li>
					</ul>
				</li>
				<li>
					<a>Manage artists</a>
					<ul class="dropdown-menu">
						<li><a href="/admin/formNewArtist">Add a new artist</a></li>
					</ul>
				</li>
				<li th:if="${userDetails}"><em>| User: <span th:text="${userDetails.username}"></span></em></li>
				<li th:if="${userDetails}"><a href="/logout"><button>Logout</button></a></li>
				<li th:unless="${userDetails}"><a href="/login"><button>Login</button></a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h2>Welcome back!</h2>
	</section>
	<footer>
		<div>
			<p>copyright &copy; 2023 MovieTime. designed by <span>MADALIN ALEXANDRU AVADANEI</span></p>
		</div>
  	</footer>
</body>
</html>