<!DOCTYPE html>
<html>
<head>
	<title>
		MovieTime - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<header>
		<nav>
			<div th:if="${userDetails}" class="login">
				<span th:text="${userDetails.username}"></span>
				<a href="/logout"><button>Logout</button></a>
			</div>
			<div th:unless="${userDetails}">
				<a href="/login"><button>Login</button></a>
			</div>
		</nav>
	</header>
	<section>
		<div>
			<a href="/movie">Elenco Film</a>
		</div>
		<div>
			<a href="/artist">Elenco Artisti</a>
		</div>
	</section>
	<footer>
    Made by MADALIN ALEXANDRU AVADANEI
  </footer>
</body>
</html>
