<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content"width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Registration Successful!</title>
	<link rel="stylesheet" href="/css/registrationSuccessful.css" />
</head>
<body>
	<header>
		<a href="/">
			<img src="/images/MovieTime.png" alt="Logo" width="180" class="logo">
		</a>
		<nav>
			<ul class="menu">
				<li><a href="/movie">Movies</a></li>
				<li><a href="/artist">Artists</a></li>
				<li th:if="${userDetails}"><em>| User: <span th:text="${userDetails.username}"></span></em></li>
				<li th:if="${userDetails}"><a href="/logout"><button>Logout</button></a></li>
				<li th:unless="${userDetails}"><a href="/login"><button>Login</button></a></li>
			</ul>
		</nav>
	</header>
	<section>
		<div class="wrapper">
			<h1>Registration successful!</h1>
			<div>
				<span>Name: </span>
				<em><span th:text="${user.name}"></span></em>
			</div>
			<div>
				<span>Surname: </span>
				<em><span th:text="${user.surname}"></span></em>
			</div>
			<div>
				<span>Email: </span>
				<em><span th:text="${user.email}"></span></em>
			</div>
		</div>
	</section>
	<footer>
		<div>
			<p>copyright &copy; 2023 MovieTime. designed by <span>MADALIN ALEXANDRU AVADANEI</span></p>
		</div>
  	</footer>
</body>
</html>